* {
    padding: 0;
    margin: 0;
}

.container-xxl {
    --bs-gutter-x: 1.5rem;
    padding: 0 0 0 0;
}

.navbar-scrolled {
    background-color: #463465;
    border-bottom: 3px solid  #f92aad;
}

.blud {
    backdrop-filter: blur(1px);
    transition: all 0.5s;
}

.anti-navbar {
    padding-top: 56px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.tesiz {
    font-size: 2vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 36px;
    width: 36px;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 80%, 80%;
    border-radius: 50%;
}

.carousel-inner .carousel-item {
    transition: transform .8s ease; /* Durasi dan jenis transisi yang sesuai */
}

.img1 {
    background-image: url(img/high-angle-gaming-setup-indoors.jpg);
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2 {
    background-image: url(img/geforce-rtx-4090-100vp-l@2x.jpg);
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img3 {
    background-image: url(img/1287688-Ryzen-board-1260x709_0.jpg);
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
}

.ct {
    backdrop-filter: brightness(0.5);
}

